@import "../variables.scss";

.categoryList {
	display: flex;
	height: 100px;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 15px;
	margin: 15px 0;
	div {
		border-radius: 20px;
		background-color: $pastelGreen;
		background-position: center;
		display: flex;
		align-items: center;
		padding: 10px 40px;
		a {
			font-size: 0.7rem;
		}
	}
}
