@import "../variables.scss";

header {
	display: flex;
	align-items: center;
	margin: 10px;
	button {
		width: 20px;
		height: 20px;
		border: none;
		background-color: $white;
		background-image: url("../images/previous_icon.svg");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 10px;
	}
}
