@import "../variables.scss";

header {
	display: flex;
	align-items: center;
	margin: 10px 0;
	button {
		width: 40px;
		height: 40px;
		border: none;
		background-color: $background;
		background-image: url("../images/previous_icon.svg");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 10px;
	}
}
