@import "../variables.scss";

.searchbar {
	position: relative;
	input {
		background-image: url("../images/magnifying_glass_icon.svg");
		background-repeat: no-repeat;
		background-position: left 2px center;
		border: 1px solid $boulderGray;
		border-radius: 10px;
		padding: 5px 20px;
		width: 320px;
	}
}

.showSearchResult {
	position: absolute;
	display: block;
	width: 300px;
	height: 500px;
	overflow: scroll;
}
