@import "../variables.scss";

.searchbar {
	input {
		background-image: url("../images/magnifying_glass_icon.svg");
		background-repeat: no-repeat;
		background-position: left 2px center;
		border: 1px solid $boulderGray;
		border-radius: 10px;
		padding: 5px 20px;
	}
}
