@import "../variables.scss";

.home {
	#intro {
		color: $chateuGreen;
	}
	.searchbarWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 5px;
		#filterIcon {
			display: block;
			width: 38px;
			height: 38px;
			background-image: url("../images/filter_menu_icon.svg");
			background-repeat: no-repeat;
			background-position: center;
			border: 1px solid $boulderGray;
			border-radius: 10px;
			box-shadow: 6px 15px 62px -8px rgba(0, 0, 0, 0.75);
			background-color: $white;
		}
	}
	.deals {
		margin: 20px 0;
		section {
			display: flex;
			overflow: auto;
		}
	}
}
