@import "../variables.scss";
.productDetail {
	.productWrapper {
		display: flex;
		flex-direction: column;
		.product {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
		}
		.setQuantity {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.price {
				display: flex;
				align-items: flex-end;
				gap: 5px;
			}
			div {
				display: flex;
				align-items: center;
				gap: 25px;
				border: 1px solid $boulderGray;
				border-radius: 30px;
				padding: 10px;
				height: 40px;
				overflow: hidden;
				button {
					padding: 10px;
					font-size: 2rem;
					color: $rhinoBlue;
				}
				.disableBtn {
					color: $emperorGray;
				}
			}
		}
		.description {
			align-self: flex-start;

			p {
				font-size: 0.7rem;
			}
			button {
				padding-right: 30px;
			}
			.arrowDown,
			.arrowUp {
				background-repeat: no-repeat;
				background-position: right;
			}
			.arrowDown {
				background-image: url("../images/chevron-down.svg");
			}
			.arrowUp {
				background-image: url("../images/chevron-up.svg");
			}
		}
		.showDescription {
			display: block;
		}
		.hideDescription {
			display: none;
		}
	}
	#addToCartBtn {
		margin-top: 50px;
		padding: 20px 60px;
		border-radius: 8px;
		font-size: 1.1rem;
		color: $rhinoBlue;
		background-color: $pastelGreen;
	}
}
