@import "../variables.scss";

.register {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	section {
		text-align: center;
	}
	form {
		div {
			display: flex;
			flex-direction: column;
			margin-bottom: 10px;
			input {
				border-bottom: 1px solid $boulderGray;
			}
		}
		button {
			margin: 15px 0;
		}
	}
}

.mailAvailiable,
.mailNotAvailiable,
.passwordSame,
.passwordNotSame {
	align-self: flex-end;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.mailAvailiable {
	background-image: url("../images/small_checkmark_icon.svg");
}

.mailNotAvailiable {
	background-image: url("../images/close_icon.svg");
}

.passwordSame {
	background-image: url("../images/small_checkmark_icon.svg");
}

.passwordNotSame {
	background-image: url("../images/close_icon.svg");
}
