@import "../variables.scss";

.register {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	form {
		div {
			display: flex;
			flex-direction: column;
			margin-bottom: 10px;
			border-bottom: 1px solid $boulderGray;
		}
		button {
			margin-top: 15px;
		}
	}
	p {
		margin-top: 50px;
	}
}

.mailAvailiable,
.mailNotAvailiable,
.passwordSame,
.passwordNotSame {
	display: block;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.mailAvailiable {
	background-image: url("../images/small_checkmark_icon.svg");
}

.mailNotAvailiable {
	background-image: url("../images/close_icon.svg");
}

.passwordSame {
	background-image: url("../images/small_checkmark_icon.svg");
}

.passwordNotSame {
	background-image: url("../images/close_icon.svg");
}
