@import "../../fonts.scss";
@import "../../variables.scss";

.roundedButton {
	font-family: "Poppins Medium";
	font-size: 1.1rem;
	background-color: $chateuGreen;
	color: $white;
	border: none;
	border-radius: 100px;
	padding: 10px 120px;
}
