@import "../fonts.scss";
@import "../variables.scss";

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	p {
		margin: 10px 10px 40px 10px;
	}
	div {
		display: flex;
		flex-direction: column;
		text-align: center;
		a {
			margin: 20px 0;
		}
	}
}
