.wishlistItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	box-shadow: 10px 10px 56px -26px rgba(0, 0, 0, 0.75);
	img {
		height: 80px;
	}
	article {
		padding: 5px;
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
	div {
		display: flex;
		justify-content: space-between;
		p:last-of-type {
			background-image: url("../images/star_icon.svg");
			background-repeat: no-repeat;
			background-position: left;
			padding-left: 20px;
		}
	}
	button {
		margin: 0 10px;
		height: 20px;
		width: 20px;
		background-image: url("../images/bin.svg");
		background-repeat: no-repeat;
		background-position: center;
	}
}
