@import "./fonts.scss";
@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button {
	font-family: "Poppins Regular";
	background-color: $white;
	border: none;
}

h2,
a {
	font-family: "Poppins Medium";
	color: $rhinoBlue;
	text-decoration: none;
}

p {
	color: $emperorGray;
}

input {
	font-family: "Poppins Regular";
	font-size: 1.1rem;
	border: none;
	color: $rhinoBlue;
}

label {
	font-size: 0.8rem;
	color: $boulderGray;
}
