@import "./fonts.scss";
@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button {
	font-family: "Poppins Regular";
	background-color: $background;
	border: none;
}

h2,
h3,
h4,
a {
	font-family: "Poppins Medium";
	color: $rhinoBlue;
	text-decoration: none;
}

h5,
p {
	color: $emperorGray;
}

input {
	font-family: "Poppins Regular";
	font-size: 1.1rem;
	border: none;
	color: $rhinoBlue;
}

label {
	font-size: 0.8rem;
	color: $boulderGray;
}

main {
	padding: 10px;
}

img {
	object-fit: cover;
}
