@import "./fonts.scss";
@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins Regular";
}

h2 {
	font-family: "Poppins Medium";
	color: $rhinoBlue;
}

p {
	color: $emperorGray;
}

a {
	text-decoration: none;
	font-family: "Poppins Medium";
}

input {
	font-family: "Poppins Regular";
	font-size: 1.1rem;
	border: none;
	color: $rhinoBlue;
}

label {
	font-size: 0.8rem;
	color: $boulderGray;
}
