/* color-scheme
#82CD47,
#40AA54,
#2C3066,
#DEFFE4,
#555555,
#777777,
#FFC02D,
 */

$chateuGreen: #40aa54;
$limeGreen: #82cd47;
$pastelGreen: #deffe4;
$rhinoBlue: #2c3066;
$emperorGray: #555555;
$boulderGray: #777777;
$sunOrange: #ffc02d;
$white: #fffefc;
